.mb-3{
    text-align: center;


}
.container{
    text-align: center;
    background-color: rgb(208, 208, 201);
    border-radius: 10px;
}
.Tera{
    background-color: white;
    
}
.d-flex{
    float:  right;
}
.nav-item{
    /* margin: 5px; */
    padding-right: 5px;
}
.d-flex{
    padding-left: 550px;
}